[Unit]
Description=ROS2 turtlebot service

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/bin/bash -c "source /home/ubuntu/ros2_ws/install/setup.bash; ros2 launch /home/ubuntu/robot.launch.py"
Restart=on-failure
Environment="ROS_DOMAIN_ID={{ ros_domain_id }}"

[Install]
WantedBy=multi-user.target
